@charset "utf-8";
@import url("./normalize.css");
@import url("./fonts.css");
*, *::before, *::after {
  box-sizing: border-box;
}

/* CSS Reset */

html, body, button, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
ul {
  list-style: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* 본문 스타일 */

html {
  font-size: 10px;
}
body {
  font-family: 'Noto Sans Regular', sans-serif;
  font-size: 1.4rem;
  color: #181818;
  background-color: #fff;
}

/* 링크 스타일 */

a:link, a:visited {
  color: inherit;
  text-decoration: none;
}
a:hover, a:focus {
  color: #f00;
}

/* 숨김 콘텐츠 */

.readable-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  margin: -1px;
  clip: rect(0, 0, 0, 0);
}

/* 공통 스타일 */

.clearfix::after {
  content: "";
  background-color: olive;
  clear: both;
  display: block;
}

/* 레이아웃 */

.board {
  margin: 50px;
  width: 385px;
  position: relative;
}
.tab {
  float: left;
  color: #666;
  cursor: pointer;
  padding: 5px 15px;
  border: 1px solid #aaa;
  border-radius: 5px 5px 0 0;
  background: #ccc linear-gradient(to bottom, #ccc, #eee);
}
.tab[aria-selected="true"] {
  background: #fff;
  color: #ed802d;
  border-color: #ed802d;
  border-bottom-color: #fff;
}
.tab-content [role="tabpanel"] {
  display: none;
}
.tabpanel-open {
  display: block !important;
}
.tab-content ul {
  padding-left: 20px;
  list-style: square;
}
.tab-content li {
  margin: 5px 0;
}
.tab-content ul a {
  width: 285px;
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.tab-content time {
  float: right;
}
.tab-content a[class$="more"] {
  position: absolute;
  top: -8px;
  right: -8px;
  padding: 8px;
}
.tab-content a[class$="more"]::before {
  content: '\e802';
  font-family: "fontello";
  color: hsla(90, 90%, 30%, 1);
  margin-right: 5px;
}